<!DOCTYPE html>
<html lang="en">

  <head>
    <title>LightAndPeace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navigation Section -->
    <nav>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'About', about_path %> |
      <%= link_to 'Contact', contact_path %> |
      <%= link_to 'Schedule', schedule_path %>

      <% if user_signed_in? %>
        <%= link_to 'Profile', edit_user_registration_path %> |
        <% if current_user.admin? %>
          <%= link_to 'Admin Dashboard', admin_dashboard_path %> |
        <% end %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </nav>

    <!-- Main Content -->
    <%= yield %> <!-- This is where the main content of the page will be injected -->

  </body>
</html>
