<body>
    <!-- Navigation Section -->
    <nav>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'About', about_path %> |
      <%= link_to 'Contact', contact_path %> |
      <%= link_to 'Schedule', schedule_path %>

      <% if user_signed_in? %>
        <%= link_to 'Profile', edit_user_registration_path %> |
        <% if current_user.admin? %>
          <%= link_to 'Admin Dashboard', admin_dashboard_path %> |
        <% end %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </nav>
  <head>
    <%= stylesheet_link_tag "application", media: "all" %>

  </head>
    <!-- Main Content -->
    <%= yield %> <!-- This renders the main content -->

    <%= render "shared/footer" %>  <!-- This includes the footer -->
</body>
</html>
